mail__P__server=smtp.gmail.com
mail__P__server__P__port=587
mail__P__server__P__username=rpcirn1@gmail.com
mail__P__server__P__password=COLE_A_NOVA_SENHA_DE_APLICATIVO_AQUI
mail__P__from__P__address=rpcirn1@gmail.com
mail__P__admin=rpcirn1@gmail.com
mail__P__admin__P__name=Policia Cientifica do RN
mail__P__server__P__disabled=false
mail__P__extraproperties=mail.smtp.starttls.enable=true,mail.smtp.starttls.required=true
